/***********************TAG SELECTOIRS*********************/

body {
  background-color: blanchedalmond;
  margin-left: 1%;
}

hr {
  border: dotted #f9e0ae 6px;
  border-bottom: none;
  width: 2%;
  margin-left: 2%;
  margin-top: 30px;
  margin-bottom: 30px;
}

a:hover {
  background-color: #ffd57e;
}

h1 {
  color: #cdac81;
}

h3 {
  color: #e0a34d;
}

form {
  margin-left: 1%;
}

/***********************CLASS SELECTOIRS*********************/

.bottom_index {
  border-color: #c24914;
  margin-left: 2%;
  margin-bottom: 0;
  width: 15%;
}

.bottom_other {
  border-color: #c24914;
  margin-left: 0;
  margin-bottom: 0;
  width: 10%;
}
