/***********************TAG SELECTOIRS*********************/

body {
  background-color: blanchedalmond;
  margin-left: 1%;
}

hr {
  height: 0;
  width: 10%;

  border-style: dotted none none none;
  border-color: #a6a9b6;
  border-width: 5px;
}

a:hover {
  background-color: #ffd57e;
}

h1 {
  color: #cdac81;
}

h3 {
  color: #e0a34d;
}

form {
  margin-left: 1%;
}

/***********************CLASS SELECTOIRS*********************/

.bottom_index {
  border-color: grey;
  margin-left: 2%;
  width: 15%;
}

.bottom_other {
  border-color: grey;
  margin-left: 0;
  width: 10%;
}
